@tailwind base;
@tailwind components;
@tailwind utilities;

/* Подключаем шрифт SF Pro */
@font-face {
  font-family: "SF Pro";
  src: url("@/public/fonts/SF-Pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SF Pro", -apple-system, Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg font-medium;
  }
  h6 {
    @apply text-base font-medium;
  }
}

.fff {
  flex-flow: wrap;
}